# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
# *.js

# Ignore package-lock.json (npm lockfile)
package-lock.json

# Ignore claim storage
src/Storage/claimsData.json
config.json